.modal.fade#modal-container{tabindex: -1, role: 'dialog'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{type: 'button', data: {dismiss: 'modal'}, 'aria-hidden' => true} &times;
        #h4.modal-title &nbsp;
      .modal-body Loading...
